body {
  justify-content: center; }

.row {
  margin: 20px; }

h1 {
  color: black;
  text-align: center;
  padding: 20px; }

.todo-items {
  padding: 0px; }

.item {
  padding: 10px;
  font-size: 18px;
  list-style: none; }

.checkbox {
  cursor: pointer;
  margin-right: 10px; }

.delete-icon {
  float: right;
  color: red; }
  .delete-icon:hover {
    color: darkred;
    cursor: pointer; }

.checked {
  text-decoration: line-through; }
