* {
    padding: 0;
    margin: 0;
}

body {
    justify-content: center;
  
}

h1 {
    color: black;
    font-size: 3rem;
}

.item {
    padding: 10px;
    font-size: 1.1rem;
}

.checkbox {
    margin-right: 10px;
}

.delete-button {
    float: right;
}

.checked { 
    text-decoration: line-through;
}
